In [1]:
# Import Dependencies
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.orm import Session
from config import db_password

In [2]:
# Connection String
db_string = f'postgres://nbumduguqxvlys:{db_password}@ec2-54-243-92-68.compute-1.amazonaws.com:5432/ddha93h7jehqkr'

In [3]:
# Create Engine
engine = create_engine(db_string)

In [4]:
# Create Session
session = Session(bind=engine)

In [5]:
# Test Read from database
test = pd.read_sql_table('test', con=engine)
test

   test_no test_name
0        1    Square
1        2    Circle
2        3  Triangle
3        4         X

In [6]:
# Second test
artist = pd.read_sql_table('artist', con=engine)
artist.head()

,artist_id,followers,genres,name,popularity
0,0DheY5irMjBUeLybbCUEZ2,0.0,,Armid & Amir Zare Pashai feat. Sara Rouzbehani,0
1,0DlhY15l3wsrnlfGio2bjU,5.0,,ปูนา ภาวิณี,0
2,0DmRESX2JknGPQyO15yxg7,0.0,,Sadaa,0
3,0DmhnbHjm1qw6NCYPeZNgJ,0.0,,Tra'gruda,0
4,0Dn11fWM7vHQ3rinvWEl4E,2.0,,Ioannis Panoutsopoulos,0